body {
    font-family: 'Josefin Sans', sans-serif;
}
#container {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    margin: 0 auto;
    padding: 50px 50px 50px 49px; 
    position: relative;
    border-bottom: 5px solid #ff6666;
    border-top: dashed 5px #ff6666; 
}



h1{
    color: navy;
    float: left;
    padding-left: 15px;
}



h2 {
    color: #ff6666;
    background-color: white;
    width: 100%;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    border-bottom: 2px solid #ececec;

}

.profilePic {
    width: 300px;
    height: 450px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.icon {
    color: #2a458e;
    padding-top: 5px;
    padding-right: 15px;
    float: right;
}

a:hover {
    color: #c09793 !important;
  }



.main-content {
    padding: 30px;
    margin-bottom: 75%;
    padding-bottom: 30px; 
    background-color: white;
    position: relative;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border: solid 2px navy;

}

footer {
    background-color: navy;
    color: white;
    text-align: center;
   
}

.copyright {
    margin-bottom: 0px; 
    padding: 20px;
    
}

@media screen and (max-width: 640px) {

    .float-left {
        margin-right: 100%;
    }

    .profilePic {
        width: 175px !important;
        height: 200px !important;
       
    }


}


@media screen and (min-width: 970px) {

    

    
    /* .main-content {
        margin-right: 35%;
    } */

}