.top-name{
  font-size: 50px;
  /* margin-left: 3rem; */
  /* margin-top: 180px; */
  /* margin-top:  */
}

.brand-statement{
  margin-left: 20px;
  margin-right: 20px;
  /* margin-top: 180px; */
  line-height: 300%;
  color: black;
  font-size: 18px;
}

.cloud {
  position: absolute;
  top: -90px;
  left: 5px;
  height: 300px;
  width: 500px;
}

#cloudDrawn {
  /* stroke-dasharray: 5127; */
  stroke-dasharray: 5;

  /* stroke-dashoffset: 5127; */
  /* animation: sign 4s ease;
    animation-fill-mode: forwards; */
}

path.cloudDrawn {
  fill: none;
  stroke: #2878eb;
  stroke-width: 7;
  stroke-dasharray: 5127;
  stroke-dashoffset: -5127;
  animation: cloud 4s linear forwards;
}

@keyframes cloud {
  to {
    stroke-dashoffset: -600;
  }
}

.bouncing-text {
  position: absolute;
  top: 340px;
  display: flex;
  margin-left: 100px;
  font-size: 34px;
  font-family: 'Pacifico';
}

.h,
.e,
.a,
.d,
.i,
.n,
.t,
.hh2,
.e2,
.c,
.l,
.o,
.u,
.d2,
.s {
  color: #02CCFE;
  text-shadow: 0 2px #2878eb  , 0 3px #2878eb   , 0 5px #2878eb   ;
}

.i,
.t,
.c {
  margin-left: 15px;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(-55px);
  }

  50% {
    transform: scale(1.05, .95) translateY(0);
  }

  58% {
    transform: scale(1, 1) translateY(-7px);
  }

  65% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.h {
  animation: bounce 1s ease forwards .3s;
}

.e {
  animation: bounce 1s ease forwards .4s;
}

.a {
  animation: bounce 1s ease forwards .5s;
}

.d {
  animation: bounce 1s ease forwards .6s;
}

.i {
  animation: bounce 1s ease forwards .7s;
}

.n {
  animation: bounce 1s ease forwards .8s;
}

.t {
  animation: bounce 1s ease forwards .9s;
}

.hh2 {
  animation: bounce 1s ease forwards 1s;
}

.e2 {
  animation: bounce 1s ease forwards 1.1s;
}

.c {
  animation: bounce 1s ease forwards 1.2s;
}

.l {
  animation: bounce 1s ease forwards 1.3s;
}

.o {
  animation: bounce 1s ease forwards 1.4s;
}

.u {
  animation: bounce 1s ease forwards 1.5s;
}

.d2 {
  animation: bounce 1s ease forwards 1.6s;
}

.s {
  animation: bounce 1s ease forwards 1.7s;
}

.bottom-nav {
  background-color: #C97B84;
  border-radius: 6px;
  color: white;

}

.placement {
  margin: 0px 20% 60px 20%;
}