

/*navbar css*/ 

.navbar {
    padding: 0%;
    background-color: #2a458e!important;
    justify-content: initial;
}

.navbar-brand {
    background-color: #2a458e;
    padding: 10px;
    margin-left: 10px;
    color: #ffffff !important;
    font-style: italic;
    font-size: 170%;
  }


a {
    color: #ffffff;
}

a:hover {
    color: #ff6666;
}

.navbar-icon {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    padding-left: 0px;
    font-style: italic !important;
    border-radius: 30px;
}





/*Breadcrumb css*/

/* This is a style to have the breadcrumb dividers be different*/
.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    background-color: none;
    color: black;
    z-index: 3;
}

.breadcrumb-item.active {
    color: #ff6666;
}

.breadcrumb {
    background-color: none;
    position: absolute;
    right: 10px;
    top: 3px;
    z-index: 3;

}

@media screen and (max-width: 640px) {
    
    .navbar-brand {
       
       margin-bottom: 20%;
        
    }

    .breadcrumb {
        background-color: navy;
        margin-left: 10%;
        margin-top: 20%;
    
    }

    .navbar-toggler {
        display: none;
    }

}

@media screen and (max-width: 200px) {

    .breadcrumb {
        background-color: navy;
        position: static;
        margin-left: 10%;
        margin-top: 20%;
    
    }

    .navbar-brand {
       
        margin-bottom: 20%;
         
     }
}