#container {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    margin: 0 auto;
    padding: 50px 50px 50px 49px; 
    position: relative;
    border-bottom: 5px solid #ff6666;
}

.main-content {
    padding: 30px;
    margin-bottom: 5%;
    padding-bottom: 30px; 
    background-color: white;
    position: relative;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border: solid 2px navy;

}

.name {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  /* position: absolute;
  top: 10%;
  left: 20%; */
  z-index: 3;
}


h2 {
    color: #ff6666;
    background-color: white;
    width: 100%;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    border-bottom: 2px solid #ececec;

}


  .btnstyle {
      width: 100%;
      background-color: #2a458e ;
      color: #ffffff;
  }

  .btnstyle:hover {
    color: #ff6666 !important;
  }

  .img-wrapper {
    position: relative;
    margin: 0px;

   }

   .image-style {
     background-color: #2a458e ;
   }

   /* .description {
    background-color:rgba(0,0,0,0.4);
    z-index: 7;


   }

   .description:hover {
    background-color:rgba(0,0,0,0.4);
    position: relative;
    top: 0;
    z-index: 7;
   } */
  
  .img-responsive {
    width: 100%;
    height: 100%;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    height: 0%;
  }
  
  footer {
    background-color: #2a458e ;
    color: white;
    text-align: center;
   
}
  
.copyright {
    margin-bottom: 0px; 
    padding: 20px;
    
}

#project-description {
  /* margin-top: 15%; */
  position: absolute;
  background-color:rgba(0,0,0,0.7);
  color: white;
  top: 9%;
  left: 0%;
  height: 91%;
  width: 100%;
  padding-top: 15%;
  font-size: 25px;

  /* margin-bottom: 15px; */
}

/* ul { */
  /* display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  /* padding-inline-start: 10px; */
/* } */

/* li {
  margin-bottom: 10px;
} */

/* a:hover {
  color: #ff6666 !important;
} */

@media screen and (max-width: 640px) {

  
  .pdf{
      width: 100% !important;
      height: 95% !important;

  }

  .img-wrapper{
    margin-bottom: 60px;

  }

  #container {
    padding: 10px;
  }

}
