

/*navbar css*/ 

.navbar {
    padding: 0%;
    background-color: navy!important;
    justify-content: initial;
}

.navbar-brand {
    background-color: navy;
    padding: 10px;
    margin-left: 10px;
    color: #ff6666 !important;
    text-shadow: 2px 2px navy;
  }


a {
    color: #ffffff;
}

a:hover {
    color: #ff6666;
}

.navbar-icon {
    height: 80px;
    width: 150px;
}





/*Breadcrumb css*/

/* This is a style to have the breadcrumb dividers be different*/
.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    background-color: none;
    color: black;
}

.breadcrumb-item.active {
    color: #ff6666;
}

.breadcrumb {
    background-color: navy;
    position: absolute;
    right: 10px;
    top: 3px;

}

@media screen and (max-width: 640px) {
    
    .navbar-brand {
        background-color: #ffffff;
        padding: 10px;
        color: navy;
        margin-left: 0px;
        margin-right: 0px;
        align-self: center;
        text-align: center;
        width: 100%;
        float: left;
        clear: left;
      }
    

      .breadcrumb {
        background-color: navy;
        position: static;
        margin-left: 200px;
    
    }

    .navbar-toggler {
        display: none;
    }

}

@media screen and (max-width: 400px) {

    .breadcrumb {
        background-color: #ffffff;
        position: static;
        margin-left: 100px;
    
    }
}