

/*navbar css*/ 

.navbar {
    padding: 0%;
    background-color: #ffffff!important;
    justify-content: initial;
}

.navbar-brand {
    background-color: #6ca4a4;
    padding: 10px;
    margin-left: 10px;
    color: white;
  }


a {
    color: #b1afae;
}







/*Breadcrumb css*/

/* This is a style to have the breadcrumb dividers be different*/
.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    background-color: none;
    color: #e1dddb;
}

.breadcrumb-item.active {
    color: #b1afae;
}

.breadcrumb {
    background-color: #ffffff;
    position: absolute;
    right: 10px;
    top: 3px;

}

@media screen and (max-width: 640px) {
    
    .navbar-brand {
        background-color: pink;
        padding: 10px;
        color: white;
        margin-left: 0px;
        margin-right: 0px;
        align-self: center;
        text-align: center;
        width: 100%;
        float: left;
        clear: left;
      }
    

      .breadcrumb {
        background-color: #ffffff;
        position: static;
        margin-left: 300px;
    
    }

    

    .navbar-toggler {
        display: none;
    

}