.side-wrapper{
  /* margin-top: 350px;
  margin-left: 30px; */
  position: absolute;
  top: 350px;
  left: 80px;
  /* width: 50%; */
}

.raindrops {
  /* width:80%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#top-row, #mid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#top-row {
  animation: show-top 5s forwards 0s, pop-in-top 2s ease forwards 3.5s;
}

#mid-row {
  animation: show-top 5s forwards 0s, pop-in-mid 2s ease forwards 3.5s;
}

.sub-text {
  color: #EB6F80;
}

.raindrop {
  width: 80px;
  height: 80px;
  border-radius: 0 50% 50% 50%;
  border: 3px solid #02CCFE;
  transform: rotate(45deg);
  margin: 10px;
  margin-left: 30px;
  flex-direction: column;
  justify-content: center;
  color: white !important;
  background-color: #02CCFE;
}

.raindrop:hover {
  background-color: white;
  color: #02CCFE !important;
}

@keyframes pop-in-top {
  from { margin-top: -40px; }
  to { margin-top: 0px; }
}

@keyframes show-top {
  0% { opacity: 0;}
  90% { opacity: 0;}
  100% { opacity: 1; }
}

@keyframes pop-in-mid {
  from { margin-top: -40px; }
  to { margin-top: 0px; }
}

.second-row {
  margin-left: 35px;
}

.raintext {
  margin-left: 1px;
  font-size: 20px;
  font-weight: 700;
} 

.icon-small {
  margin-bottom: 40px;
}

.links:hover {
  color: #2a458e !important;

}

#about-text {
  top: 60%;
}

#portfolio-text {
  top: 66%;
  margin: 0px;
  padding: 0px;
  left: 20%;
}

#portfolio-text:hover {
  color: #2a458e !important;
}

#resume-text {
  top: 70%;
}


.side {
  background-color: #c7cdd3;
  background-color: white;
}

.icon-content {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1px;
}



#email-fa {
  position: relative;
  top: 1%;
  left: 4%;
  height: 4px;
}

.git-link {
  color: white
}

.git-link:hover {
  color: #c09793
}

img {
  height: 100px;
}