

#container {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    margin: 0 auto;
    padding: 50px 50px 50px 49px; 
    position: relative;
    min-height: 100%;
    border-bottom: 5px solid #ff6666;
    border-top: dashed 5px #ff6666; 
    
}

body {
    height: 100%;
}

header {
    border-bottom: dashed 5px #ff6666; 
}

.icon {
    color: navy;
    padding-top: 5px;
    padding-right: 15px;
    float: right;
}


.main-content {
    padding: 30px;
    margin-bottom: 75%;
    padding-bottom: 30px; 
    background-color: white;
    position: relative;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border: solid 2px navy;

}

h1{
    color: navy;
    float: left;
    padding-left: 15px;
}

h2 {
    color: #ff6666;
    background-color: white;
    width: 97%;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    border-bottom: 2px solid #ececec

}

.btn-grn {
    background-color: #ff6666;
    color: white;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
   
}

.copyright {
    margin-bottom: 0px; 
    padding: 20px;
    
}

