

/*navbar css*/ 

.navbar {
    padding: 0%;
    background-color: navy!important;
    justify-content: initial;
}

.navbar-brand {
    background-color: navy;
    padding: 10px;
    margin-left: 10px;
    color: #ffffff !important;
    text-emphasis: italic;
  }


a {
    color: #ffffff;
}

a:hover {
    color: #ff6666;
}

.navbar-icon {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    padding-left: 0px;
    border-radius: 30px;
}





/*Breadcrumb css*/

/* This is a style to have the breadcrumb dividers be different*/
.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    background-color: none;
    color: black;
}

.breadcrumb-item.active {
    color: #ff6666;
}

.breadcrumb {
    background-color: navy;
    position: absolute;
    right: 10px;
    top: 3px;

}

@media screen and (max-width: 640px) {
    
    .navbar-brand {
       
        float: left;
        clear: left;
        
        
    }

      .breadcrumb {
        background-color: navy;
        margin-left: 200px;
    
    }

    .navbar-toggler {
        display: none;
    }

}

@media screen and (max-width: 200px) {

    .breadcrumb {
        background-color: navy;
        position: static;
        margin-left: 100px;
    
    }
}