#container {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    margin: 0 auto;
    padding: 50px 50px 50px 49px; 
    position: relative;
    border-bottom: 5px solid #ff6666;
    border-top: dashed 5px #ff6666; 
}

.main-content {
    padding: 30px;
    margin-bottom: 5%;
    padding-bottom: 30px; 
    background-color: white;
    position: relative;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border: solid 2px navy;

}

header {
  border-bottom: dashed 5px #ff6666; 
}

.icon {
  color: navy;
  padding-top: 5px;
  padding-right: 15px;
  float: right;
}

h2 {
    color: #ff6666;
    background-color: white;
    width: 100%;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    border-bottom: 2px solid #ececec;

}


  .btnstyle {
      width: 100%;
      background-color: navy;
      color: #ffffff;
  }

  .btnstyle:hover {
    color: #ff6666 !important;
  }

  .img-wrapper {
    position: relative;
    border: solid 2px #ff6666;
    margin-top: 15px;
    margin-bottom: 15px;
   }
  
  .img-responsive {
    width: 100%;
    height: 100%;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    height: 76%;
  }
  
  footer {
    background-color: navy;
    color: white;
    text-align: center;
   
}
  
.copyright {
    margin-bottom: 0px; 
    padding: 20px;
    
}

.project-description {
  margin-top: 15px;
  margin-bottom: 15px;
}

a:hover {
  color: #ff6666 !important;
}

@media screen and (max-width: 640px) {

  
  .pdf{
      width: 100% !important;
      height: 95% !important;

  }

  .img-wrapper{
    margin-bottom: 60px;

  }

  #container {
    padding: 10px;
  }

}
